body {
  min-height: 2000px;
}

@media (min-width: 0px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 70%;
  }
}

.navbar-static-top {
  margin-bottom: 19px;
}

.table th, .table td {
  border-top: none !important;
}

.nav.nav-tabs {
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: none;
}

.label-yellow {
  background-color: #FFF176;
  color: black;
}

td.summary {
  word-wrap: break-word;
}

td.requestee {
  width: 16%;
  word-wrap: break-word;
}
