body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.table th, .table td {
  border-top: none !important;
}

.label-yellow {
  background-color: #FFF176;
  color: black;
}

td.summary {
   -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for webkit */
   word-break: break-word;

   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
