### This is an example file! ###
# the default path to the color file is: config/color.yml
---
line:
  black: "#000000"
  red: "#E57373"
  orange: "#FFB74D"
  yellow: "#FFF176"
  green: "#81C784"
  blue: "#64B5F6"
bar:
  black: "#000000"
  red: "#E57373"
  orange: "#FFB74D"
  yellow: "#FFF176"
  green: "#81C784"
  blue: "#64B5F6"
pie:
  black: "#000000"
  red: "#E57373"
  orange: "#FFB74D"
  yellow: "#FFF176"
  green: "#81C784"
  blue: "#64B5F6"
github:
  col1: "#A1ACDF"
  col2: "#6878C2"
  col3: "#334CB9"
  col4: "#172F9B"
  col5: "#0732EA"
gitlab:
  col1: "#DF9698"
  col2: "#C56566"
  col3: "#B95253"
  col4: "#BF3638"
  col5: "#D50D10"
grey:
  young:
    text: "mdc-text-grey-600"
    bg:   "mdc-bg-grey-600"
  adult:
    text: "mdc-text-grey-300"
    bg:   "mdc-bg-grey-300"
  old:
    text: "mdc-text-grey-100"
    bg:   "mdc-bg-grey-100"
red:
  young:
    text: "mdc-text-red-600"
    bg:   "mdc-bg-red-600"
  adult:
    text: "mdc-text-red-300"
    bg:   "mdc-bg-red-300"
  old:
    text: "mdc-text-red-100"
    bg:   "mdc-bg-red-100"
orange:
  young:
    text: "mdc-text-orange-500"
    bg:   "mdc-bg-orange-500"
  adult:
    text: "mdc-text-orange-300"
    bg:   "mdc-bg-orange-300"
  old:
    text: "mdc-text-orange-100"
    bg:   "mdc-bg-orange-100"
yellow:
  young:
    text: "mdc-text-yellow-400"
    bg:   "mdc-bg-yellow-400"
  adult:
    text: "mdc-text-yellow-300"
    bg:   "mdc-bg-yellow-300"
  old:
    text: "mdc-text-yellow-100"
    bg:   "mdc-bg-yellow-100"
green:
  young:
    text: "mdc-text-green-600"
    bg:   "mdc-bg-green-600"
  adult:
    text: "mdc-text-green-300"
    bg:   "mdc-bg-green-300"
  old:
    text: "mdc-text-green-100"
    bg:   "mdc-bg-green-100"
blue:
  young:
    text: "mdc-text-blue-600"
    bg:   "mdc-bg-blue-600"
  adult:
    text: "mdc-text-blue-300"
    bg:   "mdc-bg-blue-300"
  old:
    text: "mdc-text-blue-100"
    bg:   "mdc-bg-blue-100"
