### This is an example config! ###
# the default path to the config file is: config/config.yml
---
debug: # fatal, error, warn, info, debug; defaults to 'fatal'
logfile: # STDERR, STDOUT, or path; defaults to STDERR
title: # Give me a name, or (default) call me Dashboard
port: # Specify a port where you can reach the webinterface, or (default) 4567
cache-threshold: # Specify how long specifig routes get cached in seconds (default: 6 hours)
netrc: # true or false (default). For private GitHub repos you will need to use a .netrc
bugzilla: # Url of your Bugzilla instance
products: # list of exact product names as they appear on bugzilla
  - example_product_1
  - example_product_2
organization: # here you add the github repos you care about
  - name: opensuse
    repositories:
      - nailed # e.g. for github.com/opensuse/nailed
      - other_repo
  - name: other_organization
    repositories:
      - repo1
      - repo2
...
