---
bugzilla:
  url: https://bugzilla.novell.com
products:
  cloud:
    versions:
    - SUSE Cloud 3
    - SUSE Cloud 4
    - SUSE Cloud 5
    organization: crowbar
    repos:
    - crowbar
    - barclamp-crowbar
    - barclamp-deployer
    - barclamp-dns
    - barclamp-ganglia
    - barclamp-ipmi
    - barclamp-logging
    - barclamp-nagios
    - barclamp-network
    - barclamp-ntp
    - barclamp-provisioner
    - barclamp-redhat-install
    - barclamp-test
    - barclamp-ubuntu-install
    - barclamp-glance
    - barclamp-nova
    - barclamp-swift
    - barclamp-keystone
    - barclamp-mysql
    - barclamp-kong
    - barclamp-nova_dashboard
    - barclamp-openstack
    - barclamp-hadoop
    - barclamp-hive
    - barclamp-pig
    - barclamp-zookeeper
    - barclamp-sqoop
    - barclamp-quantum
    - barclamp-clouderamanager
    - barclamp-ApacheHadoop
  sles:
    versions:
    - SUSE Linux Enterprise Server 12 (SLES 12)
    organization: SUSE
    repos:
    - machinery
  opensuse:
    versions:
    - openSUSE 13.1
    organization:
    repos:
