body {
  min-height: 2000px;
}

@media (min-width: 0px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 70%;
  }
}

.navbar-static-top {
  margin-bottom: 19px;
}

.table th, .table td {
  border-top: none !important;
}

.jenkins {
  width: 100%;
  table-layout: fixed;
}

.jenkins td {
  white-space: nowrap;
  padding: 8px;
}

.jenkins-value {
  width: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jenkins-value:hover {
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
  background-color #ffffff;
}

.jenkins-builds {
  width: 75%;
  word-wrap: break-word;
}

.jenkins-aborted {
  background-color: #ababab;
  border-color: #ababab;
}

.jenkins-aborted:hover,
.jenkins-aborted:focus {
  color: #ffffff;
  background-color: #8e8e8e;
  border-color: #8e8e8e;
}

.popover {
  word-wrap: break-word;
}

.nav.nav-tabs {
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: none;
}

.label-yellow {
  background-color: #FFF176;
  color: black;
}

td.summary {
  word-wrap: break-word;
}

td.requestee {
  width: 16%;
  word-wrap: break-word;
}
